.DS_Store
.idea
.history
**.tfstate
**.tfstate.*
**lib/
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
**data/
**.parquet
**.csv
**.ipynb_checkpoints/
**_SUCCESS
**_SUCCESS.crc
serving_dir
